* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #676767;
  transform-origin: bottom;
}
.slide-in-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  transform-origin: top;
}
