@use "@/styles/mixin" as *;


.movie{
  &Container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(getVw(300, 1200), 300px), 1fr));
    gap: min(getVw(20, 1200), 20px);

    @include mq() {
      grid-template-columns: 1fr 1fr;
      gap: getVw(20);
    }
  }

  &Card{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Image {
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  &Title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    min-height: 2em;
  }

  &Details {
    width: 100%;
    text-align: left;
  }

  &Genre, &Runtime, &Cast, &Year {
    margin: 0.25rem 0;
  }
}
